


.styleguide{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #efefef;
}
.KAPSARC{width:200px;
height: 70px;

}
.header{
background-color:#6A6A6A;
height: 35px;
}
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #8AC791;
  background-color:#8AC791;
}
.row{
	background-color:#fefefe;
padding: 10px 0;
	margin: 25px 0px;


}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;}


.appsImg{

  padding:5px;
  width:400px;
  height: 500px;
  height:250px;
  background:#B0B0B0;
  background-size:1000px;

}

.appstitle{text-align: center;}

.appsFont{
float:left;
margin-left: 120px;
width: 360px;
text-align: center;
color:#7E7F82;
font: 20px arial, sans-serif;
}

body {
  background-color: #f1f1f1;
}

.button{
border: none;
text-align: center;
text-decoration: none;
border-radius: 4px;
font-weight: normal;
width:200px;
border: none;
font-size: 15px;
font-weight: normal;
line-height: 1.4;
padding: 10px 15px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button:hover {
 opacity: 0.75;

}


.submit {
background-color: #61A24F;
color: white;
margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



.button1{
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 4px;
font-weight: normal;
width:150;
border: none;
font-size: 15px;
font-weight: normal;
line-height: 1.4;
padding: 10px 15px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



.copyright{
  color:#fff;
      text-align: center;
  padding: 12px 16px;
  margin-top: 20px;
      text-decoration: none;
  	font-size:15px;}
.footer-logo{
padding-top: 20px;


}




.footer{
  background-color:#6A6A6A;
  height: 110px;


}
